.polla {
  height: 400px;
  text-align: center;
  background: url(/assets/polla/seccion_movil.png);
  background-size: cover;
  background-position: bottom;
  width: 100vw;
  
  @media (min-width: '999px'){
    background: url(/assets/polla/seccion_desktop.png);
    background-size: cover;
    background-position: bottom;
  }

  a {
    margin-top: 25px;
  }
}
